@page
@using System.Globalization
@model pos_koperasi.Pages.Cart.IndexModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .btn-army-primary {
        color: #fff;
        background-color: #2B3A2B;
        border-color: #2B3A2B;
    }

    .btn-army-primary:hover {
        color: #fff;
        background-color: #1e291e;
        border-color: #1a251a;
    }

    .btn-army-primary:focus {
        color: #fff;
        background-color: #1e291e;
        border-color: #1a251a;
        box-shadow: 0 0 0 0.25rem rgba(43, 58, 43, 0.5);
    }
</style>

<h2 class="mb-5">Keranjang Belanja</h2>

@if (!Model.CartItems.Any())
{
    <p>Keranjang anda kosong</p>
}
else
{
    <table class="table">
        <thead>
            <tr style="font-size: 1.2rem;">
                <th>Detil Produk</th>
                <th>Jumlah</th>
                <th>Harga</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td class="align-middle">
                        <div class="d-flex flex-row gap-4">
                            <img src="@item.Barang.ImagePath" alt="@item.Barang.NamaBarang" class="img-fluid"
                                style="width: 100px; height: 100px;">
                            <div class="d-flex flex-column justify-content-center">
                                <p>@item.Barang.NamaBarang</p>
                                <form method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center align-middle">
                            @if (item.Quantity > 1)
                            {
                                <form method="post" asp-page-handler="DecreaseQuantity" class="me-2">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-md px-1 py-0 mb-2"><b>–</b></button>
                                </form>
                            }
                            <b><h5>@item.Quantity</h5></b>
                            @if (item.Quantity < item.Barang.Stock)
                            {
                                <form method="post" asp-page-handler="IncreaseQuantity" class="ms-2">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-md px-0 py-0 mb-2"><b>+</b></button>
                                </form>
                            }
                        </div>
                    </td>
                    <td class="align-middle">
                        <h5>@item.Barang.Harga.ToString("C", new CultureInfo("id-ID"))</h5>
                    </td>
                    <td class="align-middle">
                        <h5>@((item.Barang.Harga * item.Quantity).ToString("C", new CultureInfo("id-ID")))</h5>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td><strong>@Model.Total.ToString("C", new CultureInfo("id-ID"))</strong></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}

@if (Model.CartItems.Any())
{
    <div class="mt-3">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <form method="post" asp-page-handler="Purchase">
                <button style="font-size: 1.2rem;" type="submit" class="btn btn-army-primary w-100">Checkout</button>
            </form>
        }
        else
        {
            <div class="alert alert-warning">
                Mohon <a asp-page="/Login">login</a> terlebih dahulu untuk melakukan pembelian.
            </div>
        }
    </div>
}

@section Scripts {
    @if (TempData["PdfToDownload"] != null)
    {
        <script>
            window.location.href = '?handler=DownloadPdf&filename=@TempData["PdfToDownload"]';
        </script>
    }
}