@page "{searchString?}"
@model pos_koperasi.Pages_Barang.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <p>
        <label>Nama Barang: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barang[0].NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barang[0].TerakhirUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barang[0].Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barang[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barang[0].Deskripsi)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Barang) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerakhirUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                <form method="post" asp-page-handler="AddToCart" asp-route-id="@item.Id" style="display: inline;">
                    <button type="submit" class="btn btn-link" style="padding: 0">Add to Cart</button>
                </form> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
